<div class="modal fade" id="Chat-Template-Modal" tabindex="-1" aria-labelledby="Chat-Template-Modal-Label"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" style="font-family: OSWALD;">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen" id="Chat-Template-Modal-Dialog">
        <div class="modal-content" id="Chat-Template-Modal-Content">
            <nav class="navbar fixed-top navbar-light" id="ChatTemplate-Navbar">
                <div class="d-flex justify-content-left flex-nowrap" style="font-family: Perpetua;">
                    <div class="text-white mx-2" id="chat-profile-image" style="border-radius: 50%;">
                    </div>
                    <div style="margin-top: -7.5px;">
                        <span id="chat-profile-username" style="font-size: 20px; color:rgb(0, 0, 0);"></span><br>
                        <span id="chat-profile-status" style="font-size: 15px; color: rgb(0, 0, 0);"></span>
                    </div>
                </div>

                <div class="d-flex justify-content-right flex-nowrap">
                    <div class="button-content" style="margin-right: 20px;" id="Video-Call-Button">
                    </div>
                </div>
                <!-- HTML !-->
            </nav>
            <div class="modal-body" id="Chat-Template-Modal-Outer-Container">
                <main class="msger-chat" id="Chat-Message-Container">
                </main>
            </div>
            <div class="container-fluid" id="chat-footer-area">
            </div>
        </div>
    </div>
</div>