<!-- Receiver side modal popup -->


<div class="modal fade" id="VideoAcceptModal" tabindex="-1" aria-labelledby="VideoAcceptModal-Label"
    data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" style="font-family: Geneva;">
    <div class="modal-dialog modal-dialog-centered" id="VideoAcceptModal-Dialog" role="document">
        <div class="modal-content rounded-0" id="VideoAcceptModal-Content">
            <div class="modal-body bg-3" id="VideoAcceptModal-Body">
            </div>
        </div>
    </div>
</div>
</div>