<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

	<!-- Bootstrap CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
	<!-- Custom styles for this template -->
	<link href="css/home.css" rel="stylesheet" type="text/css">
	<title>frenion</title>
</head>

<body class="text-center" oncontextmenu="return false;">
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<header class="masthead mb-auto">
			<div class="inner">
				<nav class="nav nav-masthead justify-content-center">
					<!--<a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Contact</a>-->
				</nav>
			</div>
		</header>

		<main role="main" class="inner cover">
			<p class="lead">
			<h5>Serverless peer-to-peer chat platform.</h5>
			</p>
			<p class="lead">No need to register | No imformation is saved | With feature of temporary session profile | Peer-To-Peer encrypted chat and video call | Chat with random strangers with privacy |</p>
			<p class="lead">
				<a href="/connect" class="btn btn-lg btn-secondary">Chat Now</a>
			</p>
		</main>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>

</html>